

.headline{
    position: relative;
    
    padding: 10px  20px;
    background: #808080;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: 0.5s;
    clip-path: polygon(91% 0, 100% 50%, 91% 100%, 0% 100%, 9% 50%, 0% 0%);
    cursor: pointer;

}

.headline:hover{
    background: #fff;
    color: #000;
    letter-spacing: 2px;
   
}